body{
    font: 14px/1.6 Arial, "Microsoft YaHei", "黑体","宋体", sans-serif;
    color: #2c3e50;
    margin: 0;
}

html,body,#app{
    height: 100%;
}

button.el-button{
    font-size: 14px;
    color: #1aad6b;
    line-height: 28px;
    padding: 0px 12px;
    border-radius: 4px;
    font-weight: normal;
    border: none;
}
a{
    text-decoration: none;
    color: #ffffff;
}